@import './variables';


.navbar {
    background-color: $white;
    font-family: $font;
    border-bottom: solid 1px $pink;
}

a.navbar-brand {
    color: $pink;
    font-weight: 600;
    &:hover {
        color: $pink;
    }
}

a.nav-link, button.nav-link {
    color: $pink;
    font-weight: 600;
    &:hover, &:focus {
        color: $pink;
        border-bottom: solid 1px $pink;
    }
}

button.navbar-toggler{
    color: $pink;
}

button.nav-link {
    border: none;
    background: none;
}